.header {
    text-align: center;
    color: black;
    padding-bottom: 10px;
    font-size: 25px;
}

table {
    width: 80%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid gray;
    padding: 20px;
    font-size: 25px;
    text-align: center;
}

table th {
    background-color: #B4DBFF;
    color: black;
}
